<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.itwill.rest.repository.PurchaseDao">
  
    <insert id="PurchaseSuccess">
        insert into pur_users (id, EXPIRATION_DATE) values (#{userId}, systimestamp)
    </insert>

    <select id = "isPurchaseUser" resultType="Integer">
      select count(EXPIRATION_DATE) from pur_users where id = #{id}
    </select>
  
  </mapper>