<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 테이블 컬럼 이름의 밑줄(underscore)을 자바 클래스의 카멜 표기법 필드로 변환. -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!-- 매퍼 XML 파일에서 resultType 속성을 설정할 때 간단히 하기 위해서 -->
    <typeAliases>
      <!-- TODO <typeAlias type="com.itwill.rest.repository.Post" alias="Post" /> -->
      <typeAlias type="com.itwill.rest.repository.Album" alias="Album" />
        <typeAlias type="com.itwill.rest.repository.User" alias="User" />
        <typeAlias type="com.itwill.rest.dto.user.UserLikeDto" alias="UserLike" />
        <typeAlias type="com.itwill.rest.dto.song.SongDetailDto" alias="SongDetail" />
        <typeAlias type="com.itwill.rest.dto.comment.CommentItemDto" alias="CommentItemDto" />
        <typeAlias type="com.itwill.rest.repository.Comment" alias="Comment" />
        <typeAlias type="com.itwill.rest.repository.PlayList" alias="PlayList" />
        <typeAlias type="com.itwill.rest.dto.playlists.PlaylistFirstAlbumImgDto" alias="PlaylistFirstAlbumImgDto" />
        <typeAlias type="com.itwill.rest.dto.playlists.PlayListSongInfoDto" alias="PlayListSongInfoDto" />
        <typeAlias type="com.itwill.rest.dto.song.SearchResultDto" alias="ResultDto" />
        <typeAlias type="com.itwill.rest.repository.AlbumSongs" alias="AlbumSongs" />
        <typeAlias type="com.itwill.rest.repository.Song" alias="Song" />
        <typeAlias type="com.itwill.rest.dto.song.SongChartDto" alias="SongChartDto" />
        <typeAlias type="com.itwill.rest.repository.Artist" alias="Artist" />
        <typeAlias type="com.itwill.rest.dto.artist.ArtistSongDto" alias="ArtistSongDto" />
        <typeAlias type="com.itwill.rest.dto.artist.ArtistAlbumDto" alias="ArtistAlbumDto" />
    </typeAliases>

</configuration>